.about {
    padding-top: 80px;
    position: relative;
    &__title {
        margin: 20px 0 50px 0;
    }
    &__text {
        h5 {}
        p {}
        &-top {
            margin-bottom: 20px;
        }
        &-bottom {}
    }
    &__img {
        width: 938px;
        height: 892px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        margin-left: -433px;
        margin-bottom: -50px;
        @include respond-to('md-large') {
            // width: 100%;
            // height: 500px;
            // margin: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left;
        }
    }
    &__team {
        .title {
            @include respond-to('sm') {
                margin-bottom: 15px;
            }
        }
        >h2 {
            @include respond-to('sm') {
                font-size: 31px;
                line-height: 42px;
            }
        }
        &-member {
            max-width: 333px;
            height: 312px;
            margin: 40px auto;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            @include respond-to('sm') {
                height: 180px;
                margin: 0px auto;
            }
            >img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                @include transition(all 0.3s ease);
            }
            &:hover>img {
                opacity: 1;
            }
            &:hover .about__team-content {
                opacity: 1;
                h3,
                p {
                    @include transform(translateY(0px));
                }
                img {
                    @include transform(translateY(0px));
                    opacity: 1;
                }
            }
        }
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include transition(all 0.3s ease);
            opacity: 0;
            z-index: 1;
            h3,
            p {
                font-size: 19px;
                line-height: 22.68px;
                letter-spacing: -0.36px;
                color: $color-light;
                @include transition(all 0.3s ease);
                @include transform(translateY(50px));
            }
            p {
                font-family: 'nowregular';
            }
            h3 {
                margin-bottom: 5px;
            }
        }
        &-socials {
            img {
                max-width: 20px;
                margin: 0 5px;
                opacity: 0;
                @include transition(all 0.3s ease);
                @include transform(translateY(40px));
                @include transition-delay(0.2s);
            }
        }
    }
    &-shape1 {
        width: 1741px;
        height: 1736px;
        top: -900px;
        right: -1600px;
        @include respond-to('lg') {
            display: none;
        }
    }
    &-shape2 {
        width: 974px;
        height: 923px;
        top: 200px;
        left: -850px;
        @include respond-to('lg') {
            display: none;
        }
    }
    &-shape3 {
        width: 745px;
        height: 1247px;
        bottom: 530px;
        right: -550px;
    }
}