.blogs {
    &-item {
        margin-bottom: 80px;
        p.date {
            margin-bottom: 0;
            img {
                height: 18px;
                width: auto;
                margin-left: 10px;
                vertical-align: baseline;
            }
        }
        &__text-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button {
                margin: 0;
            }
        }
    }
    &-img {
        max-width: 100%;
        height: 353px;
        background-repeat: no-repeat;
        background-size: contain;
        @include respond-to('md') {
            margin-bottom: 20px;
        }
    }
    .read-more {
        margin-right: 150px;
        justify-content: flex-end;
        @include respond-to('sm') {
            margin-right: auto;
            justify-content: center;
        }
    }
}