.title {
    margin-bottom: 50px;
    h4 {
        margin-bottom: 6px;
        @include respond-to('md-small') {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 0px;
        }
    }
    // &::after {
    //     content: '';
    //     display: block;
    //     max-width: 234px;
    //     height: 0;
    //     border: 1px solid $color-secondary;
    //     margin-top: 8px;
    //     animation-name: line;
    //     animation-duration: 1.2s;
    //     animation-delay: 1s;
    //     animation-timing-function: ease-in-out;
    //     animation-fill-mode: forwards;
    //     visibility: hidden;
    //     @include respond-to('sm') {
    //         max-width: 150px;
    //     }
    // }
    &__line {
        max-width: 351px;
        height: 0;
        border: 1px solid $color-secondary;
        @include respond-to('sm') {
            max-width: 150px;
        }
    }
}